/* Generatl Styles **/

body { background: #fff};


/* Header Styles */

header {
  position: relative;

/**  min-height: 500px; **/
  width: 100%;
  background: #fff;
  text-align: center;
  overflow: hidden;
  height: 800px;
  min-height: 500px;
}

header: before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;
}
header .banner-text{
  width: 100%;
  padding-top: -20px;
  position: relative;
}
header .banner-text h1 {
  color: #fff;
  font: 35px 'opensans-bold', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -60px;
}

div .sub-head {
  width: 700px;
  margin: auto;

}
div .banner-text h3 {
  color: #040404;
  margin-top: -100px;
  font: 'opensans-bold', sans-serif;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-right: 30px;

}


header .banner img {
  background-size: contain;
  max-width: 100%;
  margin-left:auto;
  margin-right: auto;
  height: 300px;
  margin-top: 90px;
  padding-bottom: 0px;
  border-radius: 2%;
}

header .scrolldown a{
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 28px;
  width: 42px;
  font-size: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .scrolldown a:hover { color:#ffa9a8;}

/**************************************************/
/* Nav bar stuff */
/*************************************************/
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

#nav-wrap {
   font: 15px 'opensans-bold', sans-serif;
   width: 100%;
   font-weight: bolder;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}


#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
	text-decoration: none;
  text-align: left;
  color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:hover{
  color: #8becff;
  font-weight: bold;
}

/* Hide top bar on home page
li.current a[target=_home] nav {
  display: none;
} */

ul#nav li.current a { color: #8becff;
  border-bottom: 5px solid #fff;
}
/*************************/
/** About Section **/
/**********************************/
#about {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#about .background-monster{
  width: 95%;
}

#about .background-monster img {
  height: 140px;
  width: auto;
  position: absolute;
  left: 10%;
}

/**
#about a, #about a:visited {color: #e6e6e6;}
#about a:hover, #about a:focus { color: #8becff;}
**/

#about p {
  color: #040404;
  font-size: 20px;
  font-family: 'opensans', sans-serif;
  margin-bottom: 12px;
  letter-spacing: 1.2px;
  line-height: 25px;
}


#about p .highlight {
  color: #ffc18e;
  line-weight: bold;
}

/* -----------------------------------------------*/
/** Speaker Section **/
/*------------------------------------------------*/
#speakers {
  background-image: linear-gradient(#ffc18e, #ffa9a8);
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  transform: skewY(-6deg);
}

#speakers .content{
  transform: skewY(6deg);
  text-align:center;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#speakers .column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px){
  #speakers .column{
    width: 100%;
    display: block;
  }
}

#speakers .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  display: table;
  height: 1fr;
  border-radius: 2%;
  background-image: linear-gradient(#8becff, #fff);
}

#speakers .card:hover{
  background-color: #e6e6e6;
  cursor: pointer;
}

#speakers .container{
  padding: 0 16px;
  background-color: #fff;
}

#speakers .container::after, .row::after{
  content: "";
  clear: both;
  display: table;
}

#speakers .position-title {
  letter-spacing: 2px;
  color: #040404;
}

#speakers .speaker-pic{
    max-width: 70%;
    height: auto;
    border-radius: 3%;
    padding-top: 10px;

}

#speakers .speaker-name{
    letter-spacing: 2px;
    font-size: 22px;
    color: "#040404";
    font-weight: bold;
}

/***************************************/
/* Schedule */
/***************************************/
#schedule {
  margin-top: 100px;
  overflow: hidden;
  background-image: linear-linear-gradient(#fff, #8becff);
  padding: 20px;
}

#schedule .container{
  position: relative;
  width: 90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

}

#schedule .columns {
  display:table;
  position: relative;
  width: 25%;
  float: left;
  content: '';
  background-color: #8becff;
  text-align: center;
}

#schedule .columns p .time {
  font-style: "opensans", sans-serif;
  letter-spacing: 1.5px;
}

#schedule .columns p .event1{
  background-color: #ffc18e;
  font-style: "opensans", sans-serif;
  letter-spacing: 1.2px;
  font-weight: bold;
}

#schedule h1 {
  font-style: "opensans-bold", sans-serif;
  font-weight: bolder;
  background-color: #e6e6e6;
}


/**************************
Schedule 2 css ******************/
$blockTimes:
945, 1000, 1100, 1200, 1300, 1400, 1500, 1600, 1700, 1800;
$blockLengths: 1, 2, 3;

#schedule2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 100vh;
  padding: 4rem 0;
  font-family: "opensans", sans-serif;
}

#schedule2 .main-content{
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 90px;;
}

#schedule2 .background-monster{
  width: 95%;
}

#schedule2 .background-monster img {
  height: 180px;
  width: auto;
  position: absolute;
  right: 5%;
  margin-top: -80px;
  z-index:-3;
}
@media screen and (min-width:700px){



#schedule2 .scheduleContainer {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-rows:
    [tracks] auto
    [time-0945] 1fr
    [time-1000] 1fr
    [time-1100] 1fr
    [time-1200] 1fr
    [time-1300] 1fr
    [time-1400] 1fr
    [time-1500] 1fr
    [time-1600] 1fr
    [time-1700] 1fr
    [time-1800] 1fr;
  grid-template-columns:
    [times] 4rem
    [track-1-start] 1fr
    [track-1-end track-2-start] 1fr
    [track-2-end track-3-start] 1fr
    [track-3-end];

  }
}

#schedule .time-slot { grid-column: times;}
#schedule .slot {display: none;}

@supports(display:grid){
  @media screen and (min-width:700px){
    #schedule .slot{
      display: block;
      padding: 10px 5px 5px;
      position: sticky;
      top: 0
      z-index: 1000;
      background-color: #e6e6e6;
    }
  }
}

#schedule2 .session{margin-bottom: 1em;}
@supports(display:grid){
  @media screen and (min-width:700px){
    #schedule .session {margin:0;}
  }
}

#schedule2 .session{
  padding: .5em;
  border-radius:0.2em;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

#schedule2 .session-time,
.session-track, .session-presenter {display: block;}

#schedule2 .session-title{
  display: block;
  color: #fff;
  text-decoration-style: dotted;
  margin:0;
  font-size: 1em;
}
#schedule2 .time-slot{
  margin:auto;
  font-size: .75em;
  font-weight: bold;
}

#schedule2 .track-slot{font-weight:bold;}

#schedule2 .track-1 {background-color: #ffa9a8;}
#schedule2 .track-2 {background-color: #8becff;}
#schedule2 .track-3 {background-color: #ffc18e;}
#schedule2 .track-all{background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}

#schedule2 .text { max-width: 750px;
  font-size: 18px;
  margin: 0 auto 50px;}





/**************************************/
/** FAQ **/
/************************************/

#faq {
  background-image: linear-gradient(#8becff, #fff);
  margin-top: 30px;
  padding-top: 10px;
  margin-bottom: 100px;
}

#faq .faq-container{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

#faq .accordion {
  border-radius: 5px;
  white-space: pre-line;
}

#faq .accordion .accordion-item: first-child .title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#faq .accordion .accordion-item .title{
  margin: 3px;
  border-radius: 2px;
  font-size: 18px;
  padding: 10px;
  font-family: 'opensans-bold', sans-serif;
  background-color: #ffc18e;
  color: #040404;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

/*** THIS ONE DOENST WORK NOT SURE WHY **/
#faq .accordion .accordion-item .title: after{
  content: '\f107';
  font-family: "FontAwesome";
  padding-left: 20px;
  color: #fff;
}

#faq .accordion .accordion-item .panel{
  max-height: 0;
  -webkit-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  color: #040404;
  background-color: #FFFFFF;
  text-align: center;
  font-family: 'Montserrat', monospace;
  font-size: 17px;
  padding: 0 10px;
  margin: 2px;
}

#faq .accordion .accordion-item.active .title {
  background-color: #ffa9a8;
}
#faq .accordion .accordion-item.active .title:after{
  content: '\f106';
  font-family: "FontAwesome";
  color: #fff;
  padding-left: 20px;
}
#faq .accordion .accordion-item.active .panel{
  max-height: 100px;

  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}

/************************************************/
/** Sponsors **/
/********************************************************/

#sponsors {
  text-align:center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#sponsors .column {
  text-align: center;
  float: left;
  width: 50%;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

}
@media screen and (max-width: 650px){
  #speakers .column{
    width: 100%;
    display: block;
  }
}

#sponsors .column img{
  height: 140px;
}

#sponsors .row:after{
  content: "";
  display: table;
  clear: both;
}


/*************************************/
/* Footer stuff **/
/******************************************************/
#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 20px;
  background-color: #8becff;
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	 border-radius: 100%;
}
#go-top a:hover{background-color: #ffc18e;}
